Repository travis-ci/docs-travis-ci-com, pull requests merged in 2018-03, with the labels that each got.

#1727 [Enterprise] Custom Docker images for Trusty build environment
  user/enterprise/build-images.md
Labels: enterprise

#1725 [Enterprise] Docker in Docker for Trusty build images
  user/enterprise/build-images.md
Labels: enterprise

#1728 [Enterprise] Remove devicemapper installer from docs
  user/enterprise/trusty.md
Labels: enterprise

#1729 Remove beta flags from Trusty page
  user/enterprise/trusty.md
Labels: enterprise

#1730 We're not in beta here anymore
  _data/enterprise.yml
Labels: enterprise

#1732 Add strategies for `Ready state command canceled: context deadline exceeded`
  user/enterprise/operations-manual.md
Labels: enterprise

#1287 Add documentation about the continuous delivery of snaps
  user/deployment/snaps.md
Labels: WIP

#1747 Update docs for IP addresses
  .gitignore
  Rakefile
  assets/stylesheets/_utils.sass
  user/ip-addresses.md
Labels: awaiting-review

#1712 Update AWS Lambda dpl provider docs to include changes made in travis-ci/dpl#745
  user/deployment/lambda.md
Labels: dpl

#1758 Explain S3's endpoint key
  user/deployment/s3.md
Labels: dpl

#1762 Document the new `TRAVIS_WORKER_DOCKER_BINDS`
  user/enterprise/worker-configuration.md
Labels: enterprise
